In [2]:
import pandas as pd
import numpy as np
from bson import Decimal

In [9]:
df = pd.DataFrame(data={"one": [3.469112, -0.282863, -1.509059],
                   "two": [0.932424,  1.224234,  7.823421],
                   "three": [0.232424,  2.342112,  0.982342]})

In [10]:
df

        one       two     three
0  3.469112  0.932424  0.232424
1 -0.282863  1.224234  2.342112
2 -1.509059  7.823421  0.982342

### (1.1) 除数为int64/int32/int类型， 被除数非零， 除以 0 --> 无穷大

In [5]:
df['two'] = df['two'].astype('int64')

In [6]:
df

        one  two     three
0  3.469112    0  0.232424
1 -0.282863    1  2.342112
2 -1.509059    7  0.982342

In [7]:
df['result'] = df.one.div(df.two)   # the same as df['result'] = df['one'] /df['two']

In [8]:
df

        one  two     three    result
0  3.469112    0  0.232424       inf
1 -0.282863    1  2.342112 -0.282863
2 -1.509059    7  0.982342 -0.215580

In [176]:
df.iloc[0, 3] == float('inf')  # np.inf has the same value and the same type as math.inf and float('inf')

True

### (1.2) 除数为int64/int32/int类型， 被除数为零， 除以 0 --> NaN

In [203]:
df['one'] = [0.469112, -0.282863, -1.509059]

In [ ]:
df[['one', 'two']] = df[['one', 'two']].astype(int)  # the same as astype('int32') 、astype('int64') 、

In [194]:
df['result'] = df.one.div(df.two)   # the same as df['result'] = df['one'] /df['two']

### (1.3) 除数为Decimal类型， 被除数 除以 0 --> 抛出异常 DivisionByZero: [<class 'decimal.DivisionByZero'>]

In [11]:
df['one'] = [0.469112, -0.282863, -1.509059]

In [12]:
df['two'] = df['two'].apply(lambda x : Decimal(int(x)))

In [13]:
df['result'] = df.one.div(df.two)

TypeError: unsupported operand type(s) for /: 'float' and 'decimal.Decimal'

In [223]:
df

,one,two,three,result
0,0.46911199999999997345412339200265705585479736...,0.93242400000000003057465391975711099803447723...,0.232424,0.5031101730543185911899564655
1,-0.2828629999999999755644353172101546078920364...,1.22423400000000004439471013029105961322784423...,2.342112,-0.2310530503155442221886519438
2,-1.5090589999999999282209728335146792232990264...,7.82342099999999973647391016129404306411743164...,0.982342,-0.1928899135045908917662103968